@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Freeman&family=Jaro:opsz@6..72&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


*{
   margin:0;
   padding: 0;
   box-sizing: border-box;
   outline: none;
}

body{
   font-family: 'Freeman';
   overflow-x: hidden;
   color: #42424a;
}

.logo img{
   width: 80px;
}

header{
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   padding: 0 249px;
   border-bottom: 1px solid #dbdbdb;
}

header ul li{
   display: inline-block;
   margin: 0 30px;
}

header ul li:last-child{
    margin-right: 0;
}

header ul li a{
   text-decoration: none;
   color: #42424a;
   padding: 22px 0;
   display: inline-block;
   transition: all ease 0.3s;
   font-size: 18px;
}

header ul li a:hover{
   color: #a4a4a4;
}

header ul .submenu{
   position: absolute;
   width: 150px;
   background-color: #fff;
   box-shadow: 0 20px 45px #00000020;
   margin-top: -50px;
   opacity: 0;
   z-index: -999;
   transition: all 0.5s ease;
}

header ul li:hover .submenu{
   z-index: 999;
   opacity: 1;
   margin-top: 0;
}

header ul .submenu li{
   margin: 0;
   width: 100%;
}

header ul .submenu li a{
   padding: 15px 20px;
   display: inline-block;
   width: 100%;
}

.napln img{
   width: 100%;
   height: 65vh;
}

.adidas{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 20vh;
}

.adidas h1{
   color: #000;
   font-size: 8rem;
}